* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Freight-Big";
  src: url(../font/Freight\Big\Pro\Light.otf);
  src: url(../font/Freight\Big\Pro\Medium.otf);
}

@font-face {
  font-family: "SF-Pro";
  src: url(../font/SF-Pro-Display-Regular.otf);
  src: url(../font/SF-Pro-Display-Semibold.otf);
}

body {
  height: 100vh;
  font-family: "SF-Pro";
}

.plan {
  height: inherit;
  width: 100vw;
  background: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: right;
  background-position: center;
}

.plan-mob {
  display: none;
}

@media only screen and (max-width: 700px) {
  .plan-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.plan-scrollmob {
  display: none;
}

@media only screen and (max-width: 700px) {
  .plan-scrollmob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .plan-scrollmob p {
    color: white;
  }
}

.plan-header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan-header_mob {
  display: none;
}

@media only screen and (max-width: 700px) {
  .plan-header_mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: inherit;
  }
  .plan-header_mob .logo-mob {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .plan-header_mob .logo-mob img {
    padding-left: 1rem;
    width: 30%;
  }
  .plan-header_mob .drop {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .plan-header_mob .drop a {
    font-size: 1.5rem;
    color: grey;
  }
  .plan-header_mob .links {
    display: none;
    position: absolute;
    top: 100px;
    background: #000022;
    height: 50%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    z-index: 1;
  }
  .plan-header_mob .links-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
  }
  .plan-header_mob .links-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 1rem 0 1rem 1.5rem;
  }
  .plan-header_mob .links-nav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: #fff;
    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .plan-header_mob .links-nav a:hover:after {
    width: 100%;
    left: 0;
  }
  .plan-header_mob .links-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
  }
  .plan-header_mob .links-social img {
    padding-left: 1rem;
  }
}

.plan-header .logo {
  padding-left: 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan-header .logo img {
  width: 80%;
}

@media only screen and (max-width: 850px) {
  .plan-header .logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 12%;
            flex: 0 0 12%;
  }
  .plan-header .logo img {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .plan-header .logo {
    display: none;
  }
}

.plan-header .main-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 35%;
          flex: 1 0 35%;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (max-width: 1120px) {
  .plan-header .main-nav {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
  }
}

@media only screen and (max-width: 850px) {
  .plan-header .main-nav {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66%;
            flex: 0 0 66%;
  }
}

@media only screen and (max-width: 700px) {
  .plan-header .main-nav {
    display: none;
  }
}

.plan-header .main-nav a {
  text-decoration: none;
  color: #fff;
}

@media only screen and (max-width: 850px) {
  .plan-header .main-nav a {
    font-size: 0.8rem;
  }
}

.plan-header .main-nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: #fff;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.plan-header .main-nav a:hover:after {
  width: 100%;
  left: 0;
}

.plan-header .open-app {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 10%;
          flex: 1 0 10%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 700px) {
  .plan-header .open-app {
    display: none;
  }
}

.plan-header .open-app_button {
  background: none;
  border: none;
  border-right: 1px solid #d5373d;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  padding-right: 1rem;
  white-space: nowrap;
  cursor: pointer;
}

.plan-header .open-app_button img {
  padding-right: 2rem;
}

@media only screen and (max-width: 850px) {
  .plan-header .open-app_button img {
    font-size: 0.8rem;
  }
}

.plan-social {
  height: 100%;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 700px) {
  .plan-social {
    display: none;
  }
}

.plan-social img {
  padding-bottom: 2rem;
  width: 25%;
}

.plan-scroll {
  width: 30%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (max-width: 700px) {
  .plan-scroll {
    display: none;
  }
}

.plan-scroll img {
  width: 5%;
}

@media only screen and (max-width: 850px) {
  .plan-scroll img {
    width: 10%;
  }
}

.plan-scroll p {
  color: #fff;
}

.plan-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: absolute;
  left: 15%;
  top: 25%;
  height: 50%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 700px) {
  .plan-content {
    left: 10%;
    top: 45%;
  }
}

.plan-content_red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 700px) {
  .plan-content_red {
    width: 100%;
  }
}

.plan-content_red .line {
  height: 1px;
  background: #d5373d;
  width: 30%;
}

@media only screen and (max-width: 700px) {
  .plan-content_red .line {
    display: none;
  }
}

.plan-content_red h3 {
  color: #d5373d;
}

.plan-content_title {
  width: 100%;
}

.plan-content_title h1 {
  color: #fff;
  font-size: 5.5rem;
  padding-top: 0;
  padding-bottom: 2rem;
  font-family: "Freight-Big";
}

@media only screen and (max-width: 700px) {
  .plan-content_title h1 {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 350px) {
  .plan-content_title h1 {
    font-size: 3rem;
  }
}

.plan-content_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media only screen and (max-width: 700px) {
  .plan-content_info {
    display: none;
  }
}

.plan-content_info h3 {
  color: #fff;
  padding-left: 7rem;
}

.plan-content_info h3 .muted {
  opacity: 0.6;
}

@media only screen and (max-width: 850px) {
  .plan-content_info h3 {
    font-size: 1rem;
  }
}

.plan-content_info .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: -15%;
}

.plan-content_info .button-btn {
  background: none;
  border-radius: 50%;
  border-right: 2px solid #d5373d;
  border-top: 2px solid #d5373d;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  cursor: pointer;
  width: 80px;
  height: 80px;
}

.plan2 {
  height: inherit;
  width: 100vw;
  background: url(../assets/bg-2.png);
  background-repeat: no-repeat;
  background-size: inherit;
  position: relative;
  background-position: bottom;
}

.plan2-main {
  padding: 5rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.plan2-main_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plan2-main_top h2 {
  color: grey;
}

.plan2-main_top .btn {
  background: none;
  border: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 15%;
  color: #d5373d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1.3rem;
}

.plan2-main_info {
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.plan2-main_info h1 {
  font-family: "Freight-Big";
  font-size: 3.5rem;
  color: #000022;
}

.plan2-main_info h1 span {
  color: #d5373d;
}

.plan2-main-bot {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plan2-main-bot_box {
  background: #fff;
  height: 85%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.plan2-main-bot_box img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
}

.plan2-main-bot_box h2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  color: #000022;
  font-size: 2rem;
}

.plan2-main-bot_box p {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  color: grey;
}

.plan3 {
  background: #fff;
  width: 100vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  padding: 5rem 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.plan3 p {
  color: grey;
}

.plan3 h1 {
  color: #000022;
  font-size: 3.3rem;
}

.plan3 h1 span {
  color: #d5373d;
}

.plan3-btn1 {
  border-radius: 100%;
  background: none;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 1rem;
  cursor: pointer;
  border: 1px solid #000022;
}

.plan4 {
  width: 100vw;
  height: 100vh;
  background: url("../assets/bg-3.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem 10rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.plan4-features {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.plan4-features p {
  color: grey;
  font-size: 1.5rem;
}

.plan4-title {
  width: 100%;
  height: 30%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Freight-Big";
}

.plan4-title h1 {
  font-size: 4rem;
  color: #fff;
}

.plan4-title h1 span {
  color: #d5373d;
}

.plan4-exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: 100%;
  height: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.plan4-exp_cont {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  margin-left: 4.2rem;
}

.plan4-exp_cont p {
  color: #fff;
  font-size: 1.8rem;
}

.plan4-start {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.plan4-start_btn2 {
  background: none;
  border: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 25%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1.3rem;
}

.plan5 {
  width: 100vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background: #fff;
  padding: 5rem 10rem;
}

.plan5-whoarewe {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.plan5-whoarewe h1 {
  color: grey;
  font-size: 1.5rem;
}

.plan5-whoarewe h2 {
  color: #000022;
  font-size: 4rem;
  font-family: "Freight-Big";
}

.plan5-whoarewe p {
  color: grey;
  font-size: 1.3rem;
}
/*# sourceMappingURL=style.css.map */